{% include 'header.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div
    class="content-header"
    style="
      height: 100vh;
      background-image: url(https://images.unsplash.com/photo-1556742044-3c52d6e88c62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cG9pbnQlMjBvZiUyMHNhbGV8ZW58MHx8MHx8&w=1000&q=80);
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="container-fluid">
      <div class="row mb-2" style="display: flex; justify-content: center">
        <div
          class="col-sm-6"
          style="display: flex; justify-content: center; margin-left: 20px"
        >
          <h1 class="m-0 text-light" style="font-weight: bold; font-size: 20px">
            SELAMAT DATANG DI APLIKASI POS IJABQABUL.ID
          </h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid"></div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% include 'footer.html' %}
