{% include 'header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #F4F6F9;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Master Barang</h1><br>
            <a class="nav-link active" href="/formmasterbarang"><button class="btn btn-primary">Add Data</button></a>
          </div>
        </div>
        <!-- /.row -->
      </div>  
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><!-- 
                <h3 class="card-title">Bordered Table</h3>
              </div> -->
              <!-- /.card-header -->
              <div class="card-body">
                <table class="data_table table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Gambar Produk</th>
                      <th>Nama Produk</th>
                      <th>Harga Produk Masuk</th>
                      <th>Harga Produk</th>
                      <th>Stok Produk</th>
                      <th>Option</th>
                    </tr>
                  </thead>  
                  <tbody>
                    {% for i in data %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td style="flex-direction: row; justify-content:flex-end;"><img src="{{i.gambar_produk}}" width="120"/></td>
                      <td>{{i.nama_produk}}</td>
                      <td>Rp. {{ '{0:,}'.format(i.harga_produk_masuk)}}</td>
                      <td>Rp. {{ '{0:,}'.format(i.harga_produk)}}</td>
                      <td>{{i.stok_produk}}</td>
                      <td style="width: 200px;"><a href="/add_to_cart/{{i.id}}"><button style=" padding-inline: 5px;" class="btn btn-primary btn-sm"><i style="margin-right: 5px;" class="fa fa-cart-plus fa-md"></i>Cart</button></a> <a href="/updateproduk/{{i.id}}"><button class="btn btn-success btn-sm">Update</button></a> <a href="/deleteproduk/{{i.id}}"><button class="btn btn-danger btn-sm">Delete</button></a> 
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}